.counter {
  display: flex;
  justify-content: space-between;
  background-color: #E2E9F0;
  border-radius: 30px;
  width: 92px;
  height: 40px;
  align-items: baseline;
  overflow: hidden;
  transition: all 500ms ease-out;
}
.counter__button {
  border: none;
  height: 10px;
  background-color: #E2E9F0;
  padding: 7px 14px;
  font-size: 20px;
}

.counter:hover,
.counter__button:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: #D8E3EE;
}

.counter__number {
  font-size: 20px;
  line-height: 23px;
  color: #2C2C2C;
}