.card {
  width: 100%;
  max-width: 573px;
  background-color: #F8FAFC;
  padding: 54px 45px 37px;
  transition: all 500ms ease-out;
  margin: 10px;
}

.card__container-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card__button-wrapper {
  display: flex;
}
